In [51]:
import numpy as np
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
def load_data():
    column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num', 
    'marital_status', 'occupation', 'relationship', 'race', 
    'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 
    'native_country', 'income']
    
    train_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
    train_data = pd.read_csv(train_url, names=column_names, sep=',', skipinitialspace=True)
    
    test_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test'
    test_data = pd.read_csv(test_url, names=column_names, sep=',', skipinitialspace=True)
    
    return train_data, test_data

In [3]:
train_data, test_data = load_data()

In [4]:
train_data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
test_data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,|1x3 Cross validator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.

We are predicting income based off of race, sex, and education

In [6]:
train = pd.get_dummies(train_data, columns = ['race', 'sex'], drop_first=True)
train['income'] = train['income'].apply(lambda x:1 if x == '>50k' else 0)
train.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,capital_gain,capital_loss,hours_per_week,native_country,income,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Male
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,2174,0,40,United-States,0,0,0,0,1,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,0,0,13,United-States,0,0,0,0,1,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,0,0,40,United-States,0,0,0,0,1,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,0,0,40,United-States,0,0,1,0,0,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,0,0,40,Cuba,0,0,1,0,0,0

In [45]:
# Sensitive atribute: sex which is either a 1 or 0 
# Income is what we want to predict - the result is a 1 if the income is greater than 50k and 0 otherwise
# The covariates are: 
# education num - number of years of education
# age - this is done by the decade

columns = ['sex','education_num', 'age']
train = train_data[columns]
train['income'] = train_data['income'].apply(lambda x:1 if x == '>50k' else 0)
# Replace 'male' with 1 and 'female' with 0
train['sex'] = train['sex'].map({'Male': 1, 'Female': 0})
# Represent age by decade
train['age'] = (train['age'] // 10) * 10

test = test_data[columns]
test.drop(index=0, inplace=True)
test.dropna(inplace=True)

test['age'] = test['age'].astype(int)
test['income'] = test_data['income'].apply(lambda x:1 if x == '>50k' else 0)
# Replace 'male' with 1 and 'female' with 0
test['sex'] = test['sex'].map({'Male': 1, 'Female': 0})
# Represent age by decade
test['age'] = (test['age'] // 10) * 10

16282
16281
16281

/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['income'] = train_data['income'].apply(lambda x:1 if x == '>50k' else 0)
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['sex'] = train['sex'].map({'Male': 1, 'Female': 0})
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['age'] = (train['age'] // 10) * 10
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop(index=0, inplace=True)
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(inplace=True)
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['age'] = test['age'].astype(int)
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['income'] = test_data['income'].apply(lambda x:1 if x == '>50k' else 0)
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['sex'] = test['sex'].map({'Male': 1, 'Female': 0})
/var/folders/4k/jwbwy9c9711380xwmj0_446m0000gn/T/ipykernel_42120/514065581.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['age'] = (test['age'] // 10) * 10

In [29]:
train.head()

   sex  education_num  age  income
0    1             13   30       0
1    1             13   50       0
2    1              9   30       0
3    1              7   50       0
4    0             13   20       0

In [46]:
test.head()

   sex  education_num  age  income
1    1            7.0   20       0
2    1            9.0   30       0
3    1           12.0   20       0
4    1           10.0   40       0
5    0           10.0   10       0

In [52]:
# randomly split into Dlearn and Dtrain, consisting of 14,653 and 14,652 rows; and Dtest and Dvalidate, consisting of 9,768 and 9,769 rows
all_data = pd.concat([train, test], ignore_index=True)
# Split data into Dlearn (14,653) and the remaining
Dlearn, remaining = train_test_split(all_data, train_size=14653, random_state=42)

# Split the remaining into Dtrain (14,652) and Dtest + Dvalidate (remaining rows)
Dtrain, temp = train_test_split(remaining, train_size=14652, random_state=42)

# Split temp into Dtest (9,768) and Dvalidate (9,769)
Dtest, Dvalidate = train_test_split(temp, train_size=9768, random_state=42)

# Verify the sizes
print("Dlearn:", Dlearn.shape)
print("Dtrain:", Dtrain.shape)
print("Dtest:", Dtest.shape)
print("Dvalidate:", Dvalidate.shape)

Dlearn: (14653, 4)
Dtrain: (14652, 4)
Dtest: (9768, 4)
Dvalidate: (9769, 4)